---
export interface Props {
lname?: string;
name: string;
id: string;
input_type: 'text' | 'password' | 'email' | 'number' | "hidden" | "month" | "checkbox" | "tel";
required?: boolean;
placeholder?: string;
classes?: string;
}

const {
lname,
name,
id,
placeholder,
input_type,
required=false,
classes,
...rest
} = Astro.props;

const label_class=["block","text-gray-700","font-bold","mb-2"]
const input_class=[
"appearance-none",
"border-none",
"ring-2",
"ring-slate-500",
"focus:ring",
"focus:ring-blue-500",
"focus:outline-none",
"focus:invalid:border-pink-600",
"focus:invalid:ring-pink-500",
"leading-tight",
"invalid:text-pink-600",
"px-3",
"py-2",
"rounded-lg",
"text-gray-700",
"w-full",
"placeholder-gray-400",
"placeholder:font-bold"
]
---
<div class="mb-4">
    <label
            class:list={[classes, label_class]}
            for={id}
            >
        {lname}
    </label>
    <input
            class:list={[classes, input_class]}
            type={input_type}
            placeholder={placeholder ? placeholder : "Enter " + lname.toLowerCase().split(":")[0] }
            name={name}
            required={required}
            id={id}
            {...rest}
            >
</div>
