---
import { Icon } from "astro-icon"
import Userlayout from "../../../../../layouts/Userlayout.astro"
import Text_input from "../../../../../components/Text_input.astro"
import convertFormData from "../../../../../utils/convertFormData.js"
import { maxMonth } from "../../../../../utils/yearMonth.js"

let x;

x = Astro.cookies.has("edu") ? Astro.cookies.get("edu").json() : null;

if (Astro.request.method === "POST"){
    try{
        const data = await Astro.request.formData();

        // OBJECT ENTRIES METHOD
        const d = Object.fromEntries(data.entries());
        if("achievements" in d){
        d.achievements = d.achievements.split('\r\n').map(b=>b.trim())
        }

        // Check and assign edu cookie val to edu or []
        let edu = Astro.cookies.has("edu") ? Astro.cookies.get("edu").json() : [];

        const isDuplicate = edu.some((obj)=> JSON.stringify(obj) === JSON.stringify(d));

        if(!isDuplicate){
            edu.push(d);

            console.log("---------- edu val ----------")
            console.log(edu)
            console.log("--------------------\n")

            Astro.cookies.set('edu', JSON.stringify(edu), {maxAge: 60 * 60} )
        }

        // code to convert into useable obj arrays
        x = edu.filter(e => typeof e === "object")
        
        Astro.redirect(Astro.url.pathname)

    } catch (err){
        if (err instanceof Error){
        console.error(err.message);
        }
    }

}

// FOR SETTING MAX month in the form

const maxmonth = maxMonth()

// DEBUG ONLY
// console.log(maxmonth);
console.log(x)
console.log("---------- Cookie val ----------")
if(Astro.cookies.has("edu")){
console.log(Astro.cookies.get("edu").value)
}
console.log("This is edu --------------------\n")

---
<Userlayout>
    <div class="form_container">

        <h1>Step:4/7 Education details</h1>

        <hr>

        <div class="my-2 leading-tight flex flex-col justify-center gap-2 border-green-500 bg-green-200 text-green-800 border-l-4 border-y rounded border-r mx-2">
            <div class="flex gap-2 items-center font-bold">
            <Icon name="mdi:lightbulb-on" class="w-8 "/>
            Tips:
            </div>
            <p class="px-2 pb-1">
            Fill out the info in chronological order, from most recent to past.
            </p>
        </div>

        <div class="my-2 leading-tight flex flex-col justify-center gap-2 border-yellow-500 bg-yellow-200 text-yellow-800 border-l-4 border-y rounded border-r mx-2">
            <div class="flex gap-2 items-center font-bold">
            <Icon name="mdi:warning" class="w-8 "/>
            Things to keep in mind:
            </div>
            <p class="px-2 pb-1">
            Only try to put relevant degrees and school/college/university experience
            </p>
        </div>

        <hr>

        <form method="POST" id="myc" autocomplete="off">

            <fieldset>

            <Text_input
                    name="institute"
                    required
                    id="institute"
                    type="text"
                    lname="Institute name"
                    placeholder="XYZ institute"
                    />

            <Text_input
                    name="course"
                    required
                    id="course"
                    type="text"
                    lname="Course info"
                    placeholder="ex: Master of Business Administration"
                    />

            <Text_input
                    name="i_address"
                    required
                    id="i_address"
                    type="text"
                    lname="Institute Address"
                    placeholder="ex: Unit-3, Bhubaneswar"
                    />

                    <hr>

            <div class="mob_container">

            <small class="text-gray-500">Input a valid date from 1990-01 to {maxmonth} </small>

            <Text_input
                    name="admission"
                    required
                    id="admission"
                    type="month"
                    min="1990-01"
                    max={maxmonth}
                    classes="bg-white"
                    lname="Admission date"
                    />

            <Text_input
                    name="graduated"
                    id="graduated"
                    required
                    type="month"
                    min="1990-01"
                    max="2099-12"
                    classes="bg-white"
                    lname="Course completed on"
                    />

            <small class="text-gray-500">P.S. Leave Departed field if your currently hired for said company</small>

            </div>

            <div class="flex gap-2 flex-col">

                <label
                        id="ach_label"
                        class="my-2 font-bold text-gray-700"
                        for="achievements">
                    Achievements or Things you worked on
                </label>

                <textarea
                        id="achievements"
                        name="achievements"
                        class="resize-y bg-gray-100 border-2 rounded"
                        placeholder="Ex: Awards: Bill & Melinda Gates Fellow (only 5 awarded to class), Director's List 2017 (top 10%)\r\nEach newline is a new point"
                        rows="4"></textarea>
            </div>

            </fieldset>

            <button class="submit" type="submit">Add<button>

        </form>

        <h2 class="my-3 text-center font-semibold text-gray-600">Added Institutes will appear under here:</h2>

        {
        x &&
        <div>
        <ol class="list-decimal list-inside font-semibold text-sm text-gray-600">
            {x.map(x => (
            <li>{x.institute}, {x.course} - {x.i_address}</li>
            ))}
        </ol>
        </div>
        }


    </div>
    <a href="/cv-builder/templates/ats01/form/confedu" >
        <div class="bg-blue-500 text-center py-4 text-white font-bold mx-1 my-3">NEXT</div>
    </a>
</Userlayout>

<style>
    h1 {
        @apply text-center font-bold text-gray-700 my-3;
    }

    hr {
        @apply border-2 my-4;
    }

    .form_container {
        @apply container mx-auto max-w-sm md:max-w-2xl;
    }

    form {
        @apply shadow-md p-8;
    }

    .submit {
        @apply bg-orange-500 w-full my-4 py-4 text-white font-bold;
    }

    .mob_container {
        @apply flex flex-col gap-1 ;
    }
</style>
