---
import { Icon } from "astro-icon"
import Userlayout from "../../../../../layouts/Userlayout.astro"
import Text_input from "../../../../../components/Text_input.astro"
import convertFormData from "../../../../../utils/convertFormData.js"
import yearMonth from "../../../../../utils/yearMonth"


let x;

// Redirect for not having edu cookie

if(!Astro.cookies.has("personal")){
return Astro.redirect("/cv-builder/templates/ats01/form/personal")
}

let p,exp,edu,o

if(Astro.cookies.has("personal")){
p = Astro.cookies.get("personal").json()
}

if(Astro.cookies.has("exp")){
exp = Astro.cookies.get("exp").json()
}

if(Astro.cookies.has("edu")){
edu = Astro.cookies.get("edu").json()
}

if(Astro.cookies.has("others")){
o = Astro.cookies.get("others").json()
}

// DEBUG ONLY
console.log("----- p value -----")
console.log(p)
console.log("----------\n")
console.log("----- exp value -----")
console.log(exp)
console.log("----------\n")
console.log("----- edu value -----")
console.log(edu)
console.log("----------\n")
console.log("----- o value -----")
console.log(o)
console.log("----------\n")
---
<Userlayout>
    <div class="form_container">

        <h1>All Entered Details</h1>

        <hr>

        <div class="my-2 leading-tight flex flex-col justify-center gap-2 border-green-500 bg-green-200 text-green-800 border-l-4 border-y rounded border-r mx-2">
            <div class="flex gap-2 items-center font-bold">
                <Icon name="mdi:lightbulb-on" class="w-8 "/>
                Tips:
            </div>
            <p class="px-2 pb-1">
            Please read carefully before proceeding
            </p>
        </div>

        <hr>
        <h2>Personal Info:</h2>
        {p && (
        <p>
        <span>Full Name: </span>
        {p.name}</p>
        <p>
        <span>CV title: </span>
        {p.cv_title}</p>
        <p>
        <span>CV Objective: </span>
        {p.cv_objective}</p>
        <p>
        <span>Email: </span>
        {p.email}</p>
        <p>
        <span>Contact no: </span>
        {p.cc} {p.mobile}</p>
        <p>
        <span>Contact Address: </span>
        {p.address}</p>
        )}
        <hr>

        <h2>Experience Info</h2>
        <!-- desgnation is wrong change cookie name -->
        <div>
            <ol>
                {exp && exp.map(exp=>(
                <li>
                    <span>{exp.company}, {exp.c_address}</span>
                    <p>
                    
                    <span>Designation: </span>{exp.desgnation}
                    </p>
                    <p>
                    <span>From: </span>{yearMonth(exp.joined)}
                    <span>To: </span>{(exp.departed === '') ? 'Present' : yearMonth(exp.departed)}
                    </p>
                    {
                    (exp.achievements && exp.achievements.filter(Boolean).length) ?
                    <p><span>Achievements:</span></p>
                    : null
                    }

                    {(exp.achievements && exp.achievements.filter(Boolean).length) ? exp.achievements.map(x=>(
                    <ul>
                        <li>
                            {x}
                        </li>
                    </ul>
                    )) : null }
                </li>
                ))}
            </ol>
        </div>

        <hr>

        <h2>Education Info</h2>

        <div>
            <ol>
                {edu && edu.map(edu=>(
                <li>
                    <span>{edu.institute}, {edu.i_address}</span>
                    <p>
                    <span>Course: </span>{edu.course}
                    </p>
                    <p>
                    <span>From: </span>{yearMonth(edu.admission)}
                    <span>To: </span>{yearMonth(edu.graduated)}
                    </p>
                    {
                    (edu.achievements && edu.achievements.filter(Boolean).length)
                    ?
                    <p><span>Achievements:</span></p>
                    : null
                    }
                    {
                    (edu.achievements && edu.achievements.filter(Boolean).length)
                    ?
                    edu.achievements.map(x=>(
                    <ul>
                        <li>
                            {x}
                        </li>
                    </ul>
                    )) : null
                    }
                </li>
                ))}
            </ol>
        </div>

        <hr>

        <div>
            <h2>Skills: </h2>
            <ul class="in_ul">
                {o.skills.map(x=>(
                <li>{x}</li>
                ))}
            </ul>
        </div>

        <hr>

        <div>
            <h2>Languages: </h2>
            <ul class="in_ul">
                {o.languages.map(x=>(
                <li>{x}</li>
                ))}
            </ul>
        </div>

        <hr>

        <div>
            <h2>Certificates: </h2>
            <ul class="in_ul">
                {o.certificates.map(x=>(
                <li>{x}</li>
                ))}
            </ul>
        </div>


        <a href="/cv-builder/templates/ats01/form/preview" class="container mx-auto max-w-sm md:max-w-2xl" >
            <div class=" bg-orange-500 text-center py-4 text-white font-bold mx-1 my-3">Preview Resume</div>
        </a>

        <a href="/cv-builder/templates/ats01/form/sendresumedata" class="container mx-auto max-w-sm md:max-w-2xl" >
            <div class=" bg-orange-500 text-center py-4 text-white font-bold mx-1 my-3">Create Resume</div>
        </a>

        <a href="/cv-builder/templates/ats01/form/resetall" class="container mx-auto max-w-sm md:max-w-2xl" >
            <div class=" bg-blue-500 text-center py-4 text-white font-bold mx-1 my-3">Rest All</div>
        </a>

    </div>
</Userlayout>

<style>
    span {
        @apply font-bold text-gray-700;
    }

    h1,h2 {
        @apply text-center font-bold text-gray-700 my-3;
    }

    hr {
        @apply border-2 my-4;
    }

    .form_container {
        @apply container mx-auto max-w-sm md:max-w-2xl;
    }

    form {
        @apply shadow-md p-8 gap-2 flex flex-col justify-center;
    }

    .submit {
        @apply bg-orange-500 w-full my-4 py-4 text-white font-bold;
    }

    .in_ul{
        @apply text-base list-disc grid grid-rows-3 md:grid-rows-4 grid-flow-col ;
    }

    label {
        @apply font-bold text-lg md:text-lg text-gray-600;
    }

    input {
        @apply w-5 h-5 my-3;
    }

    ol{
        @apply list-decimal list-inside font-semibold;
    }

    p{
        @apply font-normal;
    }

    ul{
        @apply list-disc list-inside font-normal;
    }

</style>
